{% extends "govuk_template.html" %}

{% block head %}

  <script src="{{ url_for('static', filename='javascripts/vendor/jquery/jquery.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='javascripts/vendor/jsrender/jsrender.min.js') }}"></script>

  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

  <script type="text/javascript" src="{{ url_for('static', filename='javascripts/app.js') }}"></script>

  {% raw %}
    <script id="location-template" type="text/x-jsrender">
      <p id="point">Point (lat/long): {{:latitude}}/{{:longitude}}</p>
      <p id="district-name">Registration district: {{:boundaryName}}</p>
    </script>
  {% endraw %}

{% endblock %}
