
{% extends "govuk_template.html" %}

{% block content %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <form id="postcode-form" class="form" action="{{url_for('frontend.index')}}" method="post">
          <h1 class="form-title heading-large">Which registration district?</h1>
          <div class="form-group">
             <label class="form-label-bold" for="postcode">Enter a postcode</label>
              <p class="form-hint">Find a registration district for a postcode</p>
              {{ form.postcode(class_="form-control")|safe }}
                {% if form.postcode.errors %}
                  {% for error in form.postcode.errors %}
                    <span class="error">{{error}}</span>
                  {% endfor %}
                {% endif %}
          </div>
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
        </form>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>Or use your current location</p>
        <a href="#" id="current-location" class="button">Current location</a>
      </div>
      <div class="column-thirds">
        <p id="registration-district"></p>
    </div>

{% endblock %}

{% block body_end %}

  <script type="text/javascript">

    var getPosition = function() {
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
          console.log('lat:' + position.coords.latitude + '/long:'+ position.coords.longitude);
          getBoundary(position);
        });
      } else {
        alert('geolocation not available');
        return {};
      }
    };

    var getBoundary = function(position) {
      $.ajax({
        type: 'GET',
        url: '/location/'+ position.coords.latitude+'/'+ position.coords.longitude+'.json',
        success: function(data) {
          console.log(data);
          $('#registration-district').text(data.boundary.name);

        },
        error: function() {
          console.log("error");
        }
       });
    }

    $(document).ready(function() {
      $("#current-location").click(getPosition);
    });

  </script>
{% endblock %}

